<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./stylesheet/styles.css" />
        <title>Jules Verne</title>
    </head>
    <body>
        <header>
            <nav class="nav">
                <ul class="navul">
                    <li class="navitem"><a href="/">Home</a></li>
                    <li class="navitem"><a href="/works">Works</a></li>
                    <li class="navitem"><a href="/about">About</a></li>
                </ul>
            </nav>
        </header>
        <main class="main">
            <h1 class="title">Jules Gabriel Verne</h1>
            <img
                class="jules-img"
                src="./imgs/julesverne.jpg"
                alt="jules verne photo"
            />
            <p class="about-p">
                Jules Gabriel Verne was a French novelist, poet, and playwright.
                His collaboration with the publisher Pierre-Jules Hetzel led to
                the creation of the Voyages extraordinaires, a series of
                bestselling adventure novels including Journey to the Center of
                the Earth (1864), Twenty Thousand Leagues Under the Seas (1870),
                and Around the World in Eighty Days (1872). His novels, always
                well documented, are generally set in the second half of the
                19th century, taking into account the technological advances of
                the time. In addition to his novels, he wrote numerous plays,
                short stories, autobiographical accounts, poetry, songs and
                scientific, artistic and literary studies. His work has been
                adapted for film and television since the beginning of cinema,
                as well as for comic books, theater, opera, music and video
                games.
            </p>
        </main>
    </body>
</html>
