<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./stylesheet/styles.css" />
        <title>Jules Verne</title>
    </head>
    <body>
        <header>
            <nav class="nav">
                <ul class="navul">
                    <li class="navitem"><a href="/">Home</a></li>
                    <li class="navitem"><a href="/works">Works</a></li>
                    <li class="navitem"><a href="/about">About</a></li>
                </ul>
            </nav>
        </header>
        <main class="main">
            <h1 class="title">Jules Gabriel Verne</h1>
            <p class="home-p">
                If you want to read more about Jules Verne
                <strong>life</strong>, click in the <strong>about</strong> tab
            </p>
            <p class="home-p">
                If you want to read more about his most famous
                <strong>works</strong>, click in the <strong>works</strong> tab
            </p>
        </main>
    </body>
</html>
